<div class="adicionar-wrapper">
  <form (ngSubmit)="submit()" [formGroup]="form">

    <!-- Botão ranking canto superior direito -->
    <button
      routerLink="/ranking"
      pButton
      pRipple
      type="button"
      icon="pi pi-chart-bar"
      class="p-button-rounded p-button-warning btn-ranking"
      pTooltip="Ranking"
      tooltipPosition="left">
    </button>

    <!-- Logo -->
    <div class="logo-container">
      <img src="assets/demo/images/unnamed.png" alt="logo">
    </div>

    <!-- Campo nome -->
    <div class="field">
      <label for="nome">Nome do Jogador</label>
      <input #inputNome id="nome" formControlName="nome" pInputText type="text" placeholder="Digite o nome..."/>
    </div>

    <!-- Botões -->
    <div class="acoes">
      <button class="btn-adicionar" icon="pi pi-check" label="Adicionar Jogador" type="submit" pButton pRipple></button>
      <button [routerLink]="['/listar']" class="btn-lista" icon="pi pi-list" label="Lista" type="button" pButton pRipple></button>
      <button (click)="showModal = true" class="btn-editar" label="Editar partida" pButton pRipple type="button"></button>
    </div>

  </form>
</div>

<!-- Modal -->
<div class="modal" *ngIf="showModal === true">
  <div class="flex flex-column gap-2">
    <label>Nº Jogadores na partida</label>
    <input pInputText id="username" aria-describedby="username-help" [(ngModel)]="value" />
    <small *ngIf="mostrarMensagem" id="username2-help" class="p-error block">Você deve inserir um número!</small>
  </div>
  <div class="modal-botoes">
    <button pButton pRipple label="Salvar" class="p-button-info" (click)="incluirNumeroJogadores(value)"></button>
    <button pButton type="button" label="Cancelar" class="p-button-danger" (click)="showModal = false"></button>
  </div>
</div>
<div class="overlay" *ngIf="showModal === true"></div>
