<form (ngSubmit)="submit()" [formGroup]="form">
    <div class="grid">
        <div class="col-12 text-center">
            <img src="assets/demo/images/unnamed.png" alt="logo" style="width: 100%;">
        </div>
        <div class="col-12">
            <div class="formgrid grid">
                <div class="field col-12">
                    <label for="nome" class="titulo">Nome do Jogador</label>
                    <input #inputNome id="nome" class="w-full" formControlName="nome" pInputText type="text"/>
                </div>
            </div>
        </div>
        <div class="col-12">
            <button class="p-fullwidth p-button-success" icon="pi pi-check" label="Adicionar Jogador" type="submit" pButton pRipple></button>
        </div>
        <div class="col-12">
            <button [routerLink]="['/listar']" class="p-fullwidth p-button-secondary" icon="pi pi-list" label="Lista" type="button" pButton pRipple></button>
        </div>
        <div class="col-12">
            <button  (click)="showModal = true"
                class="p-fullwidth  p-button-sm p-button-outlined" label="Editar partida" pButton
                pRipple type="button" style="color: #cfcf1b"></button>
        </div>
    </div>
</form>
<div class="row">
    <div class="modal" *ngIf="showModal === true">
        <div class="flex flex-column gap-2">
            <label>Nº Jogadores na partida</label>
            <input pInputText id="username" aria-describedby="username-help" [(ngModel)]="value" />
            <small *ngIf="mostrarMensagem" id="username2-help" class="p-error block">Você deve inserir um número!</small>
        </div>
        <div class="row">
            <div class="col">
                <button pButton pRipple label="Salvar" class="p-button-info margemals"
                    (click)="incluirNumeroJogadores(value)"></button>
                <button pButton type="button" label="Cancelar" class="p-button-danger" (click)="showModal = false"></button>
            </div>
        </div>
    </div>
    <div class="overlay" *ngIf="showModal === true"></div>
</div>
